.table{
    td {
        border: none;
    }
    th {
        border-top: 2px solid #dee2e6;
        border-bottom: 2px solid #dee2e6;
    }
    .record {
        border-bottom: 2px solid #dee2e6;
    }
    .sub-total {
        line-height: 50px;
    }
    table-layout: fixed;
}

%shared-marginTop {
    margin-top: 10mm;
}
.records-table {
    @extend %shared-marginTop;
    display: block;
    width: 100%;
    overflow-x: auto;
}
.add-record {
    @extend %shared-marginTop;
} 
.update-record {
    @extend %shared-marginTop;
}

#addItemBtn {
    margin: {
        top: 1em;
    }
}